<div class="container-fluid">
    <div id="benefits" class="panel panel-default">
        <div class="panel-heading">
            </br>
            <h2>Customer's Benefits</h2>
        </div>
    </div>
    <p><strong>
            <h4>Tiện nghi, an ninh:</h4>
            Trung tâm hành chính là khu vực tập trung toàn bộ hoặc phần lớn cơ quan như UBND, HĐND, các sở ngành và các
            đơn vị sự nghiệp. Các tiện ích đi kèm như trường học, bệnh viện, thương mại, giải trí, công viên... theo đó
            cũng mọc lên, giúp nâng cao chất lượng sống cho cư dân.
            Do tập trung toàn bộ hoặc phần lớn các cơ quan quản lý đầu não, nên khu vực trung tâm hành chính có an ninh
            nghiêm ngặt hơn. Ngoài ra, đóng vai trò như "bộ mặt" của mỗi địa phương, khu trung tâm hành chính thường
            được ưu tiên phát triển cảnh quan đô thị.
            </br>
            <h4><strong>Giao thông kết nối:</strong></h4>
            Mục đích cuối cùng của các cơ quan hành chính công vẫn là để phục vụ người dân. Nên địa điểm đặt trung tâm
            thường được nằm giữa tâm điểm kết nối giao thông với các khu vực còn lại cũng như giao thông liên vùng. Các
            hạ tầng giao thông cũng được chú trọng đầu tư, giúp việc kết nối được thông suốt, hỗ trợ người dân thực hiện
            các thủ tục công hoặc liên hệ công việc.
            <br />
            <h4><strong>Tiềm năng tăng giá nhà đất:</strong></h4>
            Sở hữu những lợi thế liên quan đến chất lượng sống và khả năng kết nối giao thương, khu vực trung tâm hành
            chính có tiềm năng phát triển bất động sản để ở và bất động sản thương mại, dịch vụ, văn phòng. Đây cũng
            thường là khu vực có giá bán nhà đất thuộc loại cao nhất và cũng tăng nhanh nhất trong khu vực.
    </p></strong>
    <div id="regulations" class="panel panel-default">
        <div class="panel-heading">
            </br>
            <h2>Our Regulation</h2>
        </div>
    </div>
    <p>
    <h4><strong>
            I. Phạm vi và đối tượng áp dụng:
        </strong></h4>
    Bản Nội quy này quy định các nội dung về quản lý, sử dụng nhà chung cư…, được Hội nghị nhà chung cư … lần đầu thông
    qua vào ngày … tháng … năm …, được áp dụng đối với tất cả các cá nhân, tổ chức có liên quan, bao gồm: Chủ đầu tư,
    Ban quản trị, Đơn vị quản lý vận hành, Chủ sở hữu, Người sử dụng nhà chung cư, kể cả những người là người thừa kế,
    người nhận chuyển nhượng và người được chuyển giao của các Chủ sở hữu đó.
    Để đảm bảo chất lượng công trình, vẻ đẹp mỹ quan của tòa nhà, để đáp ứng nhu cầu sử dụng căn hộ của các gia đình
    được tốt nhất, đề nghị mọi người nghiêm chỉnh chấp hành các nội quy sau.

    </br>
    <h4><strong>
            II. Quy định đối với Chủ sở hữu, người sử dụng nhà chung cư, Người tạm trú và Khách ra vào nhà chung cư:
        </strong></h4>
    1. Nghiêm cấm chiếm dụng nhà ở trái pháp luật, tự ý thay đổi kết cấu chịu lực, kiến trúc, điện nước hoặc thay đổi
    kết cấu căn hộ trong tòa nhà.

    </br>2. Nghiêm cấm cơi nới làm lồng sắt, mái tôn, mái vẩy khu vực ban công dưới mọi hình thức.

    </br>3. Nghiêm cấm tháo dỡ hoặc di dời làm hư hỏng các thiết bị kỹ thuật đã lắp đặt tại tòa nhà.

    </br>4. Nghiêm cấm quảng cáo, viết, vẽ trái quy định phía mặt ngoài căn hộ, khu công cộng.

    </br>5. Nghiêm cấm mang chất độc hại dễ cháy nổ như xăng, dầu, bếp than, vũ khí, đạn dược, chất cấm… vào tòa nhà.

    </br>6. Không vứt rác, phóng uế tại khu hành lang, ban công, thang máy, thang bộ. (Yêu cầu tự vận chuyển rác thải
    sinh hoạt đến khu vực tập kết đã quy định).

    </br>7. Không hóa vàng (đốt giấy tiền, đốt mã…) trong căn hộ, hành lang thuộc tòa nhà. (Yêu cầu tập kết hóa vàng.
    đốt mã đúng nơi quy định).

    </br>8. Không bỏ vào toilet, hố ga những đồ vật khó phân hủy hoặc làm tắc nghẽn các đường ống thoát chung.

    </br>9. Giữ gìn trật tự nơi công cộng, không gây tiếng ồn quá mức làm ảnh hưởng đến sinh hoạt của cư dân sinh sống
    trong tòa nhà.

    </br>10. Đỗ xe đúng nơi quy định. (Yêu cầu đăng ký gửi xe, đăng ký vé tháng với Ban quản lý tòa nhà).

    </br>11. Khách đến tòa nhà phải có trách nhiệm đăng ký với Ban quản lý và làm thủ tục tạm trú, tạm vắng theo quy
    định của Pháp luật.

    </br>12. Mọi cá nhân, tổ chức sinh sống và làm việc tại toà nhà phải tuân thủ những quy định về an toàn phòng chống
    cháy nổ, có trách nhiệm tham gia với lực lượng bảo vệ tòa nhà và lực lượng PCCC để ngăn chặn và xử lý kịp thời khi
    có sự cố xảy ra.

    </br>13. Mọi cư dẫn có trách nhiệm giữ gìn và bảo quản tài sản sở hữu chung, nếu làm hư hỏng phải có trách nhiệm bồi
    thường thiệt hại theo quy định.

    </br>14. Mọi cư dân phải có trách nhiệm thực hiện theo đúng nội quy chung cư, tòa nhà. Trường hợp cố tình vi phạm
    Ban quản lý tòa nhà sẽ từ chối cung cấp dịch vụ và xử lý theo Pháp luật. </p></strong>
</div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us to find your answer:</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> 475A Điện Biên Phủ, P25, Q.Bình Thạnh, TPHCM</p>
            <p><span class="glyphicon glyphicon-phone"></span> (028) 5445 777</p>
            <p><span class="glyphicon glyphicon-envelope"></span> hutech@hutech.edu.vn</p>
            <p> Folow: <a href="https://www.facebook.com/"><img src="Images/fb.png"> <a
                        href="https://www.instagram.com/"><img src="Images/ins.jpg"> </a></p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>