
<div id="login" class="container" style="max-width: 500px;">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h1>Đăng nhập ngay !</h1>
        </div>
        <form action="/login" method="POST">
            <%-include("../partials/messages.ejs") %>
            <div class="panel-footer" style="max-width: 500px;">
                <i class="design"></i>
                <label for="txtname"> Email: </label>
                <input class="form-control text-center" id="email" name="email" type="text" required autofocus>
                </br>
                <label for="txtpass"> Mật khẩu: </label>
                <input class="form-control text-center" id="password" name="password" type="password" required></br>
                <input type="checkbox" name="remember"> Ghi nhơ đăng nhập
                </br>
                <button class="btn btn-primary btn-lg btn-block" type="submit"> Đăng nhập </button>
                </br>
                <label id="forgot">
                <center>  <a href="forgot-password"> Quên mật khẩu ? </a> </center> <br /> Liên hệ: (08)901374426 (Phòng khách hàng)
                </label>
            </div>
        </form>
    </div>
</div>