
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Đóng Phí</h2>
        </div>
    </div>
    <p id="electricb">
    <h2><strong>Hóa Đơn Điện</strong></h2>
    </p>
    <h3><strong>Thanh Toán</strong></h3>
    <div class="panel-body">
        <label for="IDkh">ID khách hàng: </label>
        <input class="form-control" id="IDkhach" name="IDkhach" type="text" placeholder="(PEXXXXXXX)"
            style="width: 70%;" required></br>
        <label for="phonenum">Số điện thoại khách hàng: </label>
        <input class="form-control" id="phone" name="phone" type="text" style="width: 70%;" required></br>
        <label for="blocknum">Block: </label>
        <select class="form-control" style="width: 50%;">
            <option value="">- Chọn Block -</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
         
        </select>
        <label for="floornum">Tầng: </label>
        <input class="form-control" id="floor" name="floor" type="text" style="width: 70%;" required></br>
        <label for="roomnum">Phòng: </label>
        <input class="form-control" id="room" name="room" type="text" style="width: 70%;" required></br></br>
        <button class="btn btn-lg" type="submit" name="paybttn">Kiểm tra hóa đơn và thanh toán</button></br>
        <h3><strong>Hướng dẫn thanh toán</strong></h3>
        <div class="panel-body">
            <a> <img src="Images/electricbill.png"> </a>
            <p><strong>ID khách hàng:</strong>
                Bao gồm ký tự và các con số, bắt đầu với chữ PExxxxxx.
                Bạn có thể xem ký tự Code của khách hàng trên hóa đơn điện hoặc <a href="conmunicate1.html"
                    style="color: red;"> liên hệ </a> phòng tài chính</p>
        </div>

        <hr color="black">

        <p id="waterb">
        <h2><strong>Hóa Đơn Nước</strong></h2>
        </pid="waterb">
        <h3><strong>Thanh Toán</strong></h3>
        <div class="panel-body">
            <label for="IDkh">ID khách hàng: </label>
            <input class="form-control" id="IDkhach" name="IDkhach" type="text" placeholder="(PEXXXXXXX)"
                style="width: 70%;" required></br>
            <label for="phonenum">Số điện thoại khách hàng: </label>
            <input class="form-control" id="phone" name="phone" type="text" style="width: 70%;" required></br>
            <label for="blocknum">Block: </label>
            <select class="form-control" style="width: 50%;">
                <option value="">- Chọn Block -</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
          
            </select>
            <label for="floornum">Tầng: </label>
            <input class="form-control" id="floor" name="floor" type="text" style="width: 70%;" required></br>
            <label for="roomnum">Phòng: </label>
            <input class="form-control" id="room" name="room" type="text" style="width: 70%;" required></br></br>
            <button class="btn btn-lg" type="submit" name="paybttn">Kiểm tra hóa đơn và thanh toán</button></br>
            <h3><strong>Hướng dẫn thanh toán</strong></h3>
            <div class="panel-body">
                <a> <img src="Images/waterbill.png"> </a>
                <p><strong>ID khách hàng:</strong>
                    Bao gồm ký tự và các con số, bắt đầu với chữ PExxxxxx.
                    Bạn có thể xem ký tự Code của khách hàng trên hóa đơn nước hoặc <a href="conmunicate1.html"
                        style="color: red;"> liên hệ </a>phòng tài chính</p>
            </div>

            <hr color="black">

            <p id="netb">
            <h2><strong>Hóa Đơn Cáp</strong></h2>
            </p>
            <h3><strong>Thanh Toán</strong></h3>
            <div class="panel-body">
                <label for="IDkh">ID khách hàng: </label>
                <input class="form-control" id="IDkhach" name="IDkhach" type="text" placeholder="(ISXXXXXXXX)"
                    style="width: 70%;" required></br>
                <label for="phonenum">Số điện thoại khách hàng: </label>
                <input class="form-control" id="phone" name="phone" type="text" style="width: 70%;" required></br>
                <label for="blocknum">Block: </label>
                <select class="form-control" style="width: 50%;">
                    <option value="">- Chọn Block -</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
               
                </select>
                <label for="floornum">Tầng: </label>
                <input class="form-control" id="floor" name="floor" type="text" style="width: 70%;" required></br>
                <label for="roomnum">Phòng: </label>
                <input class="form-control" id="room" name="room" type="text" style="width: 70%;" required></br></br>
                <button class="btn btn-lg" type="submit" name="paybttn">Check the bill and pay</button></br>
                <h3><strong>Hướng dẫn thanh toán</strong></h3>
                <div class="panel-body">
                    <a> <img src="Images/netbill.png"> </a>
                    <p><strong>ID khách hàng:</strong>
                        Bao gồm 10 ký tự, bắt đầu với IS và 8 chữ số kế tiếp.
                        Bạn có thể xem ký tự Code trên hóa đơn cáp hoặc <a href="conmunicate1.html" style="color: red;">
                            liên hệ </a>phòng tài chính</p>
                </div>
            </div>
        </div>
    </div>
</div>