<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong> Trang Chủ </strong></a>
    </div>
    <div style="margin-left: 950px;">
      <a href="/profile/<%=user._id %>"
        ><img src="/avatar/<%=avatar%>" class="avatar"
      /></a>
      <a href="/logout" class="btn btn-primary">Đăng xuất</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#feeds">Tin tức</a></li>
        <li><a href="#services">Dịch vụ</a></li>
        <li><a href="#attentions">Nổi bật</a></li>
        <li><a href="#pricing">Giá cả</a></li>
        <li><a href="#contact">Liên hệ</a></li>
        <li><a href="/writing">Đăng bài</a></li>
        <li><a href="/messages">Chi phí</a></li>
        <li><a href="/online-payment">Thanh toán</a></li>
        <li><a href="/about-customer">Lợi ích</a></li>
        <li>
          <div class="input-group">
            <input
              type="search"
              class="form-control"
              size="50"
              placeholder="Tìm kiếm ..."
            />
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary">Tìm kiếm</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1>YOUR CHOICE, YOUR LIFE</h1>
</div>
