<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/homepage"><strong> HOME </strong></a>
    </div>
    <div style="margin-left: 1000px;">
      <img src="/avatar/<%=avatar%>" class="avatar" />
      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#feeds">NEWS</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#attentions">ATTENTIONS</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#"> ENGLISH ></a></li>
        <li><a href="#"> VIETNAMESE ></a></li>
        <li>
          <div class="input-group">
            <input
              type="search"
              class="form-control"
              size="50"
              placeholder="searching for ..."
            />
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary">Search</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1>YOUR CHOICE, YOUR LIFE</h1>
</div>
