<div class="sidebar">
  <div class="nav-brand">
    <h1>Admin</h1>
  </div>
  <hr />
  <ul class="nav nav-list flex-column" id="accordionSidebar">
    <li class="nav-item active">
      <a
        href="#collapseUser"
        class="nav-link"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="collapseUser"
      >
        <div class="nav-link-icon">
          <svg
            class="bi bi-person-square"
            width="1rem"
            height="1rem"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 100-6 3 3 0 000 6z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        User
      </a>
    </li>
    <div class="collapse" id="collapseUser">
      <div class="py-2 collapse-inner">
        <a
          href="/admin/register-user"
          class="collapse-item text-decoration-none active"
          >Create</a
        >
      </div>
    </div>
    <li class="nav-header">
      <hr class="mt-2" />
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#collapseAdmin"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="collapseAdmin"
      >
        <div class="nav-link-icon">
          <svg
            class="bi bi-lock-fill"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="11" height="9" x="2.5" y="7" rx="2" />
            <path
              fill-rule="evenodd"
              d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        Admin
      </a>
    </li>
    <div class="collapse" id="collapseAdmin">
      <div class="py-2 collapse-inner">
        <a
          href="/admin/register"
          class="collapse-item text-decoration-none active"
          >Create</a
        >
        <a
          href="/admin/change-password"
          class="collapse-item text-decoration-none active"
          >Change Password</a
        >
      </div>
    </div>
    <li class="nav-header">
      <hr class="mt-2" />
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#collapseAnnounce"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="collapseAnnounce"
      >
        <div class="nav-link-icon">
          <svg
            class="bi bi-newspaper"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M0 2A1.5 1.5 0 011.5.5h11A1.5 1.5 0 0114 2v12a1.5 1.5 0 01-1.5 1.5h-11A1.5 1.5 0 010 14V2zm1.5-.5A.5.5 0 001 2v12a.5.5 0 00.5.5h11a.5.5 0 00.5-.5V2a.5.5 0 00-.5-.5h-11z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M15.5 3a.5.5 0 01.5.5V14a1.5 1.5 0 01-1.5 1.5h-3v-1h3a.5.5 0 00.5-.5V3.5a.5.5 0 01.5-.5z"
              clip-rule="evenodd"
            />
            <path
              d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"
            />
          </svg>
        </div>
        Announce
      </a>
    </li>
    <div class="collapse" id="collapseAnnounce">
      <div class="py-2 collapse-inner">
        <a
          href="/admin/announce"
          class="collapse-item text-decoration-none active"
        >
          Create</a
        >
      </div>
    </div>
    <li class="nav-header">
      <hr class="mt-2" />
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#collapsePosts"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="collapsePosts"
      >
        <div class="nav-link-icon">
          <svg
            class="bi bi-file-post"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z"
              clip-rule="evenodd"
            />
            <path
              d="M4 5.5a.5.5 0 01.5-.5h7a.5.5 0 01.5.5v7a.5.5 0 01-.5.5h-7a.5.5 0 01-.5-.5v-7z"
            />
            <path
              fill-rule="evenodd"
              d="M4 3.5a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        Posts
      </a>
    </li>
    <div class="collapse" id="collapsePosts">
      <div class="py-2 collapse-inner">
        <a href="/admin/view-posts" class="collapse-item text-decoration-none"
          >View</a
        >
      </div>
    </div>
  </ul>
</div>
<div class="main">
  <nav
    class="navbar navbar-expand-lg navbar-dark shadow"
    style="background-color: #beebe9;"
  >
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <a href="/admin/logout" class="btn btn-outline-secondary ml-auto">Logout</a>
  </nav>
</div>
