<% resident.forEach(res=>{%>
<h1><%= res%></h1>
<% var x = res.private_information[0]%>
<h1><%= x.type%></h1>
<% for(var value in x) {%> <% if(value !== 'type'){%>
<p><%=x[value]%></p>
<% }} %> <% var y = res.household_registration[0]%>
<h1><%= y.type%></h1>

<% }) %>
