<div class="container an-form">
  <div class="d-flex justify-content-center h-100">
    <div class="card card-body shadow text-white card-bg">
      <div class="head">
        <h1><i class="fas fa-user-shield"></i> Thông báo</h1>
      </div>
      <%- include("../partials/messages") %>
      <div class="form">
        <form action="/admin/announce-manage" method="POST" id="test">
          <input type="hidden" name="id" value="<%= user._id%>" />
          <input type="hidden" name="type" value="announce" />
          <hr />
          <h6 style="text-align: center;">Nội dung</h6>
          <div class="form-group">
            <textarea
              name="announce"
              id="announce"
              cols="10"
              rows="10"
            ></textarea>
          </div>
          <hr />
          <button class="btn btn-success btn-block">
            Đăng thông báo
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr />
<%-include("./listsData/listPost.ejs")%>
