<div class="container con-form">
  <div class="d-flex justify-content-center h-100">
    <div class="card card-body shadow card-bg text-white">
      <div class="head">
        <h1><i class="fas fa-user-shield"></i> Gửi email xác nhận</h1>
      </div>
      <div class="form">
        <form method="POST" class="form1">
          <input
            type="hidden"
            name="email"
            id="email"
            value="<%=user.email %>"
          />
          <button class="btn btn-primary btn-block" type="submit" id="submit1">
            Gửi
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr />
