<div class="container con-form">
  <div class="card card-body">
    <form method="POST" class="form1">
      <h4 style="text-align: center;">Send mail activation</h4>
      <input type="hidden" id="email" name="email" value="<%=email %>" />
      <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" id="submit1"></input>
      </div>
    </form>
  </div>
</div>
<script src="/js/src/jquery-3.5.1.min.js"></script>
<script src="/js/scripts/sendMail.js"></script>