<div class="container con-form">
  <div class="card card-body">
    <form method="POST">
      <input type="hidden" id="email" name="email" value="???" />
      <input type="submit" id="submit"></input>
    </form>
  </div>
</div>
<script src="/js/src/jquery-3.5.1.min.js"></script>
<script src="/js/scripts/sendMail.js"></script>